name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Lint with Ruff
        run: uv run ruff check --output-format=github .

      - name: Format with Ruff
        run: uv run ruff format . --check --diff

      - name: Type check with Pyrefly
        run: uv run pyrefly check

      - name: Run tests with Pytest
        run: uv run pytest
